@keyframes fadein {
    from{
        transform: translateY(3rem);
        opacity:0
    }to{
        transform: translateY(0%);
        opacity:1
    }
}
@keyframes slidein {
    from{
        transform: translateY(3rem);
    }to{
        transform: translateY(0%);
    }
}

@font-face{
    font-family: handlee;
    src:url('./assets/handlee.ttf')
}

body{
    background-color: hsl(46, 53%, 9%);
    color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background: rgb(14,1,61);
    background: radial-gradient(circle, rgba(14,1,61,1) 0%, rgba(102,45,145,1) 100%);
    overflow-x: hidden;
    overflow-y: auto;
    width:100vw;
    min-height: 100vh;
    position: relative;
}

html{
    overflow-x: hidden;
}

.container{
    visibility: hidden;
    border-style: solid;
    border-width:1rem;
    background-color: rgb(17, 93, 192);
    border-color: hsl(45, 55%, 13%);
    margin:0; 
    margin-top: 2rem;
    height:100%;
    flex:1;
    padding: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background: rgb(255,185,53);
    background: linear-gradient(0deg, rgba(255,185,53,1) 0%, rgba(0,115,200,1) 54%, rgba(0,54,94,1) 100%);
    z-index: 999;
    
}

h1{
    font-weight: bold;
    font-size: 20pt;
    margin-top: 2rem;
    margin-bottom: 0px;
}

h2{
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 10px;
    margin-top:10px;
    text-transform: uppercase;
    color: rgb(29, 29, 29);
    text-align: center;
}

p{
    /*text-transform: uppercase;*/
    font-size: 1rem;
    text-align: center;
    margin:0px;
    margin-bottom: 24px;
    color: rgb(83, 83, 83);
    text-align: left;
}

#square-container{
    width:100%;
    position: relative;
    height:100px;
}

#square{
    position:absolute;
    left:50%;
    width:50px;
    height:50px;
    background-color: white;
}

#tree{
    position: fixed;
    bottom:0;
    left:30%;
    height:20rem;
    z-index: 2;
    -webkit-transition: all 1.5s;;
    transition: all 1.5s;
    pointer-events: none;
}

#mountains{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index: 1;
    filter: saturate(1) brightness(1) blur(3px);
    -webkit-transition: all 1s;
    transition: all 1s;
    pointer-events: none;
}

.btns{
    margin:0; 
    margin-top: 2rem;
    height:100%;
    flex:1;
    padding: 2rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    z-index: 999;
}

.btn{
    width:15rem;
    font-family: handlee;
    font-size: 2rem;
    background-color: rgb(221, 221, 221);
    margin-bottom: 2rem;
    padding:1rem;
    border: 2px black solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: rgb(167, 167, 167);
    cursor: pointer;
}

@keyframes cloudmove {
    0%{
        opacity:0;
        transform: translateX(0);
    }10%{
        opacity:1;
    }100%{
        opacity:1;
        transform: translateX(120vw);
    }
}

@-webkit-keyframes cloudmove {
    0%{
        opacity:0;
        transform: translateX(0);
    }30%{
        opacity:1;
    }100%{
        opacity:1;
        transform: translateX(120vw);
    }
}

.cloud{
    position: fixed;
    height:40px;
    animation: cloudmove infinite linear;
    left:-20%;
    filter: blur(1px);
    opacity: 0.5;
    transition: all 3s;
    -webkit-transition: all 3s;
    pointer-events: none;
}

.menu-container{
    position:absolute;
    background-color: white;
    border-color: hsl(0, 0%, 47%);
    border-width: 0.5rem;
    border-style: double;
    margin:2rem; 
    padding: 2rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    z-index: 999;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.close-btn{
    position: fixed;
    top:1.5rem;
    left:1.5rem;
    align-self: flex-start;
    height:2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    z-index: 1000;
}

.hidden{
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity:0;
    pointer-events: none;
}

.hidden-rev{
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity:0;
    pointer-events: none;
}

#home{
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 999;
}

.artist-container{
    display: flex;
    margin-bottom: 2rem;
    max-width: 90vw;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    min-width: 20rem;
}



.artist-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.socials-container{

}

.artist-img{
    width:100%;
    height:12rem;
    object-fit: cover;
}

.social-link{
    font-size: 2rem;
    color: black;
    margin-left: 1rem;
}

.artist-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.artist-list-container{
    position:absolute;
    margin:2rem; 
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    z-index: 999;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.about-container{
    position:absolute;
    margin:2rem; 
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    z-index: 999;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.artist-desc{
    width: 100%;
}

.text-white{
    color:white
}

.special-menu{
    width:90%;
    padding:1rem;
    background-color: rgb(30, 39, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.link{
    text-decoration: none;
    color:white;
}

i{

}

a{}

.logo{
    height:5rem;
    margin:1rem;
}